



.Outside-boarder {
  background-color: rgb(237, 229, 229); /* Equivalent to bg-white */
  color: #1c1c1e; /* Equivalent to text-stone-900 */
  min-height: 100vh; /* Equivalent to min-h-screen */
  font-family: 'Inter', sans-serif; /* Equivalent to font-inter */
}

.dark .Outside-boarder {
  background-color: #1f2937; /* Equivalent to dark:bg-stone-900 */
  color: #f3f4f6; /* Equivalent to dark:text-stone-300 */
}


.Nav-style {
  max-width: 68.75rem; 
  width: 91.67%; 
  margin-left: auto; 
  margin-right: auto; 
}

