/* Portfolio.css */

.P-Header-Title {
    font-size: 1.5rem; 
    font-weight: 700; 
    text-decoration: underline;
    text-underline-offset: 0.5rem; 
    text-decoration-thickness: 0.125rem; 
    margin-bottom: 1.25rem; 
    color: #1c1c1e; 
}

.dark .P-Header-Title {
    color: #f3f4f6; 
}
