/* About Styles */

/* Heading Styles */
.about-heading {
    text-align: center; /* Align text to center */
    margin-top: 0.4rem; /* Add top margin of 0.4rem */
    margin-bottom: 3rem; /* Add bottom margin of 3rem */
    font-size: 50px; /* Set font size to 50px */
    font-family: "Times New Roman", Times, serif; /* Change font to Times New Roman */
}

/* Image Styles */
.about-image {
    max-width: 100%; /* Set maximum width to 100% */
    width: 200px; /* Set width to 200px */
    height: auto; /* Automatically adjust height */
    margin-bottom: 20px; /* Add bottom margin of 20px */
}

/* Text Styles */
.card-text {
    font-family: "Times New Roman", Times, serif; /* Change font to Times New Roman */
    font-size: 16px; /* Set font size to 16px */
    line-height: 1.6; /* Set line height to 1.6 */
    text-align: justify; /* Justify text */
    text-justify: inter-word; /* Add inter-word justification */
}

/* Header Styles */
.card-title {
    font-family: "Times New Roman", Times, serif; /* Change font to Times New Roman */
    font-size: 36px; /* Set font size to 36px */
    font-weight: bold; /* Set font weight to bold */
    text-align: center; /* Align text to center */
}

/* About section container Styles */
#about {
    margin-bottom: 12rem; /* Add bottom margin of 12rem */
}

/* Tablet Styles */
@media (min-width: 768px) {
    .about-image {
        width: 250px; /* Set width to 250px */
        margin-bottom: 0; /* Remove bottom margin */
    }
}

/* Desktop Styles */
@media (min-width: 992px) {
    .about-image {
        width: 300px; /* Set width to 300px */
    }
}
