/* App Styles */

/* HTML Styles */
html {
    font-family: "Times New Roman", Times, serif; /* Set font family to Times New Roman */
    line-height: 1.6; /* Set line height to 1.6 */
}

/* Body Styles */
body {
    height: 100%; /* Set body height to 100% */
    margin: 0; /* Remove body margin */
    -webkit-font-smoothing: antialiased; /* Smooth font rendering for WebKit */
    -moz-osx-font-smoothing: grayscale; /* Smooth font rendering for macOS */
    background-image: linear-gradient(
        to top right,
        #fac90624 0%, /* Gradient color 1 */
        #ff660014, /* Gradient color 2 */
        #cc330025 /* Gradient color 3 */
    );
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-attachment: fixed; /* Fix background image */
    min-height: 100vh; /* Set minimum height to 100vh */
}

/* Root Styles */
#root {
    display: flex; /* Display root as flex */
    flex-direction: column; /* Set flex direction to column */
    min-height: 100vh; /* Set minimum height to 100vh */
}

/* App Styles */
.app {
    display: flex; /* Display app as flex */
    flex-direction: column; /* Set flex direction to column */
    flex: 1; /* Set flex to 1 */
}

/* Main Container Styles */
.main-container {
    flex-grow: 1; /* Allow main container to grow */
    padding-top: 5em; /* Add top padding of 5em */
}

/* Footer Styles */
.footer {
    color: #fff; /* Set text color to white */
    text-align: center; /* Align text to center */
}

/* Flex Container Styles */
.flex-container {
    display: flex; /* Display flex container */
    flex-direction: row; /* Set flex direction to row */
    flex-wrap: wrap; /* Allow flex items to wrap */
}

/* Code Styles */
code {
    font-family: Arial, Helvetica, sans-serif; /* Set font family to Arial */
}
