/* Header Styles */

/* Devices Smaller than 320px */
@media (max-width: 320px) {
    .text-white.text-decoration-none {
        font-size: 24px; /* Set font size to 24px for text with class text-white and text-decoration-none */
    }

    .fa-knight {
        font-size: 20px; /* Set font size to 20px for elements with class fa-knight */
    }
}

/* Devices between 321px and 575px */
@media (min-width: 321px) and (max-width: 575px) {
    .text-white.text-decoration-none {
        font-size: 37px; /* Set font size to 37px for text with class text-white and text-decoration-none */
    }

    .fa-knight {
        font-size: 33px; /* Set font size to 33px for elements with class fa-knight */
    }
}

/* Devices between 576px and 992px */
@media (min-width: 576px) and (max-width: 992px) {
    .text-white.text-decoration-none {
        font-size: 58px; /* Set font size to 58px for text with class text-white and text-decoration-none */
    }

    .fa-knight {
        font-size: 54px; /* Set font size to 54px for elements with class fa-knight */
    }
}

/* Devices greater than 992px */
@media (min-width: 993px) {
    .text-white.text-decoration-none {
        font-size: 80px; /* Set font size to 80px for text with class text-white and text-decoration-none */
    }

    .fa-knight {
        font-size: 76px; /* Set font size to 76px for elements with class fa-knight */
    }
}

/* Additional Styles */
.fa-knight {
    margin-bottom: 10px; /* Add a bottom margin of 10px to elements with class fa-knight */
}

.text-white.text-decoration-none {
    display: inline-block; /* Display text as inline-block */
    vertical-align: middle; /* Align text vertically to middle */
    margin-bottom: 0; /* Remove bottom margin from text */
    padding: 10px; /* Add padding of 10px to text */
}
